In [15]:
import random
list=[]
for x in range(10):
    list.append(random.randint(0,100))
print(list)

[19, 14, 34, 86, 86, 31, 97, 6, 21, 21]

In [2]:
numbers = [65, 44, 77, 58, 38, 56, 77, 91, 18, 57, 67, 84, 12, 66, 43, 7, 53, 76, 66, 11, 44, 26, 34, 61, 98, 13, 55, 46, 29, 9, 78, 85, 14, 86, 18, 4, 98, 98, 10, 70, 32, 98, 83, 70, 24, 6, 30, 6, 98, 34, 81, 2, 96, 21, 4, 6, 84, 20, 39, 59, 3, 84, 71, 30, 29, 27, 25, 21, 68, 76, 70, 57, 98, 53, 84, 63, 34, 26, 40, 38, 71, 92, 64, 78, 9, 1, 30, 25, 70, 85, 11, 77, 31, 41, 23, 59, 100, 45, 5, 94]

Gebe alle Zahlen aus die kleiner gleich als 50 sind

In [5]:
for n in numbers:
    if n <= 50:
        print(n)

44
38
18
12
43
7
11
44
26
34
13
46
29
9
14
18
4
10
32
24
6
30
6
34
2
21
4
6
20
39
3
30
29
27
25
21
34
26
40
38
9
1
30
25
11
31
41
23
45
5

Die Anzahl der Zahlen die zwischen 30 und 70 liegen

In [3]:
count = 0
for n in numbers:
    if 30 <= n <= 70 :
        count+=1
print(count)

39

Gebe alle zahlen die grade durch 5  teilbar sind aus (modulo = 0)

In [10]:
for n in numbers:
    if n%5 == 0:
        print(n)

65
55
85
10
70
70
30
20
30
25
70
40
30
25
70
85
100
45
5

Erstelle eine Liste (sieben) mit allen Zahlen die grade durch 7 teilbar sind aus in eine

In [12]:
sieben=[]
for n in numbers:
    if n%5 == 0:
        sieben.append(n)
print(sieben)

[65, 55, 85, 10, 70, 70, 30, 20, 30, 25, 70, 40, 30, 25, 70, 85, 100, 45, 5]

In [28]:
list1 = [22, 27, 31, 19, 47, 89, 22, 79, 26, 27]
list2 = [71, 6, 47, 19, 94, 71, 22, 59, 19, 64]
list3 = [19, 14, 34, 86, 86, 31, 97, 6, 21, 21]
nested_list = [ list1,list2,list3]

Die Anzahl der Zahl 19 in nested_list

In [22]:
count = 0
for list in nested_list:
    for n in list:
        if n == 19:
            count+=1
print(count)

4

Erstelle drei Listen (kl33, zw33_66 und gr66). Sortiere Alle Zahlen aus dem nested_list in die passende Liste

In [32]:
kl33 = []
zw33_66 = []
gr66 = []
for list in nested_list:
    for i in list:
        if i <= 33:
            kl33.append(i)
        elif 33 < i < 66:
            zw33_66.append(i)
        else:
            gr66.append(i)
print(kl33)
print(zw33_66)
print(gr66)

[22, 27, 31, 19, 22, 26, 27, 6, 19, 22, 19, 19, 14, 31, 6, 21, 21]
[47, 47, 59, 64, 34]
[89, 79, 71, 94, 71, 86, 86, 97]

In [12]:
n = 1
for i in range(8):
    for x in range(8):
        if n%2 == 0:
            print('X',end = '')
        if n%2 != 0:
            print('O',end = '')
        n+=1
    print('',end ='\n')
    n+=1

OXOXOXOX
XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX
XOXOXOXO

In [13]:
zahlen = [50,20,30,40,80,]
sum(zahlen)

220

1
12
123
1234
12345

In [68]:
for i in range(6):
    for y in range(1,i+1):
        print(y, end='')
    print()

1
12
123
1234
12345

In [64]:

for i in range(5,0,-1):
    k=i
    for y in range(i):
        if k >= 1:
            print(k, end='')
            k-=1
    print()

54321
4321
321
21
1

In [43]:
for i in range(6):
    n = i   
    for y in range(n,0,-1):
        if n >= 1: 
            print(y, end='')
        
    print()

1
21
321
4321
54321

In [67]:
end = ''
n = 8
for i in range(1,n):
    print( f'{" "*(n-i)}', end= '')
    end =f'{end}{i}'
    for y in range(i , 1 , -1):
        print( y, end='')
    print(end)

       1
      212
     32123
    4321234
   543212345
  65432123456
 7654321234567