In [ ]:
numbers = [65, 44, 77, 58, 38, 56, 77, 91, 18, 57, 67, 84, 12, 66, 43, 7, 53, 76, 66, 11, 44, 26, 34, 61, 98, 13, 55, 46, 29, 9, 78, 85, 14, 86, 18, 4, 98, 98, 10, 70, 32, 98, 83, 70, 24, 6, 30, 6, 98, 34, 81, 2, 96, 21, 4, 6, 84, 20, 39, 59, 3, 84, 71, 30, 29, 27, 25, 21, 68, 76, 70, 57, 98, 53, 84, 63, 34, 26, 40, 38, 71, 92, 64, 78, 9, 1, 30, 25, 70, 85, 11, 77, 31, 41, 23, 59, 100, 45, 5, 94]

Gebe alle Zahlen aus die kleiner gleich 50 sind

Die Anzahl der Zahlen die 30 <= und >=70 sind

Gebe alle zahlen die grade durch 5 teilbar sind aus (modulo = 0)

Erstelle eine Liste (sieben) mit allen Zahlen die grade durch 7 teilbar sind aus in eine Liste

In [ ]:
list1 = [22, 27, 31, 19, 47, 89, 22, 79, 26, 27]
list2 = [71, 6, 47, 19, 94, 71, 22, 59, 19, 64]
list3 = [19, 14, 34, 86, 86, 31, 97, 6, 21, 21]
nested_list = [ list1,list2,list3]

Die Anzahl der Zahl 19 in nested_list

### Erstelle drei Listen (kl33, zw33_66 und gr66). Sortiere Alle Zahlen aus dem nested_list in die passende Liste