In [3]:
numbers = [65, 44, 77, 58, 38, 56, 77, 91, 18, 57, 67, 84, 12, 66, 43, 7, 53, 76, 66, 11, 44, 26, 34, 61, 98, 13, 55, 46, 29, 9, 78, 85, 14, 86, 18, 4, 98, 98, 10, 70, 32, 98, 83, 70, 24, 6, 30, 6, 98, 34, 81, 2, 96, 21, 4, 6, 84, 20, 39, 59, 3, 84, 71, 30, 29, 27, 25, 21, 68, 76, 70, 57, 98, 53, 84, 63, 34, 26, 40, 38, 71, 92, 64, 78, 9, 1, 30, 25, 70, 85, 11, 77, 31, 41, 23, 59, 100, 45, 5, 94]

Gebe alle Zahlen aus der numbers Liste aus die kleiner gleich 50 sind

In [4]:
for x in numbers:
    if x <= 50:
        print(x)

44
38
18
12
43
7
11
44
26
34
13
46
29
9
14
18
4
10
32
24
6
30
6
34
2
21
4
6
20
39
3
30
29
27
25
21
34
26
40
38
9
1
30
25
11
31
41
23
45
5

Die Anzahl der Zahlen aus der numbers Liste die zwischen 30 und 70 liegen.

In [6]:
for x in numbers:
    if 30 < x < 70 :
        print(x)

65
44
58
38
56
57
67
66
43
53
66
44
34
61
55
46
32
34
39
59
68
57
53
63
34
40
38
64
31
41
59
45

Gebe alle Zahlen aus der numbers Liste die grade durch 5 teilbar sind aus (modulo == 0)

In [7]:
for i in numbers:
    if i%5 == 0:
        print(i)

65
55
85
10
70
70
30
20
30
25
70
40
30
25
70
85
100
45
5

Erstelle eine Liste (sieben) mit allen Zahlen aus der numbers Liste die grade durch 7 teilbar sind.

In [9]:
sieben = []
for i in numbers:
    if i%7 == 0:
        sieben.append(i)
print(sieben)

[77, 56, 77, 91, 84, 7, 98, 14, 98, 98, 70, 98, 70, 98, 21, 84, 84, 21, 70, 98, 84, 63, 70, 77]

In [20]:
list1 = [22, 27, 31, 19, 47, 89, 22, 79, 26, 27]
list2 = [71, 6, 47, 19, 94, 71, 65, 67, 19, 64]
list3 = [19, 14, 34, 86, 86, 31, 97, 6, 21, 21]
nested_list = [ list1,list2,list3]

Wie oft kommt die Zahl 10 in nested_list vor?

In [13]:
anzahl = 0
for list in nested_list:
    for zahl in list:
        if zahl == 19:
            anzahl+=1
print(anzahl)

4

### Erstelle drei Listen (kl33, zw33_66 und gr66). Sortiere Alle Zahlen aus dem nested_list in die passende Liste

In [22]:
kl33 = []
zw33_66 = []
gr66 = []
for i in nested_list:
    for x in i:
        if x <= 33:
            kl33.append(x)
        elif x <= 66:
            zw33_66.append(x)
        elif x > 66 :
            gr66.append(x)
print(kl33)
print(zw33_66)
print(gr66)

[22, 27, 31, 19, 22, 26, 27, 6, 19, 19, 19, 14, 31, 6, 21, 21]
[47, 47, 65, 64, 34]
[89, 79, 71, 94, 71, 67, 86, 86, 97]

Summe aller Zahlen in der liste Zahlen

In [1]:
zahlen = [9,2,3,5,8,5,2]
summe = 0
for zahl in zahlen:
    summe = summe + zahl
print(summe)

34

In [6]:
zahlen = [9,2,3,5,8,5,-1,2,10]
max_wert = 'leer'

for zahl in zahlen:
    if max_wert == 'leer':
        max_wert = zahl
    if max_wert > zahl :
        max_wert = zahl
print(max_wert)

-1

In [59]:
mitarbeiter_id = [456,'MID122',788,'nest',False,'MID123',785,'MID24',7, 555,'MDI6',True,'tewst']
for_mid = []
filter_mid = []
for mid in mitarbeiter_id:
    if type(mid)== int:
        mid = str(mid)
        mid = 'MID'+mid
    if type(mid) == bool or mid[0:3]!= 'MID':
        filter_mid.append(mid)
        continue
    anzahl_der_Nullen = 6-len(mid)
    mid = mid[0:3]+'0'*anzahl_der_Nullen+mid[3:]
    for_mid.append(mid)
print(for_mid)
print(filter_mid)

['MID456', 'MID122', 'MID788', 'MID123', 'MID785', 'MID024', 'MID007', 'MID555']
['nest', False, 'MDI6', True, 'tewst']

In [68]:
import time
for zahl in range(10,-1,-1):
    time.sleep(1)
    if zahl == 0:
        print('Happy new Year')
    else:
        print(zahl)

10
9
8
7
6
5
4
3
2
1
Happy new Year