In [10]:
numbers = [65, 44, 77, 58, 38, 56, 77, 91, 18, 57, 67, 84, 12, 66, 43, 7, 53, 76, 66, 11, 44, 26, 34, 61, 98, 13, 55, 46, 29, 9, 78, 85, 14, 86, 18, 4, 98, 98, 10, 70, 32, 98, 83, 70, 24, 6, 30, 6, 98, 34, 81, 2, 96, 21, 4, 6, 84, 20, 39, 59, 3, 84, 71, 30, 29, 27, 25, 21, 68, 76, 70, 57, 98, 53, 84, 63, 34, 26, 40, 38, 71, 92, 64, 78, 9, 1, 30, 25, 70, 85, 11, 77, 31, 41, 23, 59, 100, 45, 5, 94]

Gebe alle Zahlen aus der numbers Liste aus die kleiner gleich 50 sind

In [12]:
for numb in numbers:
    if numb <= 50:
        print(numb)

44
38
18
12
43
7
11
44
26
34
13
46
29
9
14
18
4
10
32
24
6
30
6
34
2
21
4
6
20
39
3
30
29
27
25
21
34
26
40
38
9
1
30
25
11
31
41
23
45
5

Die Anzahl der Zahlen aus der numbers Liste die zwischen 30 und 70 liegen.

In [13]:
for numb in numbers:
    if 30<= numb <= 70:
        print(numb)

65
44
58
38
56
57
67
66
43
53
66
44
34
61
55
46
70
32
70
30
34
39
59
30
68
70
57
53
63
34
40
38
64
30
70
31
41
59
45

Gebe alle Zahlen aus der numbers Liste die grade durch 5 teilbar sind aus (modulo == 0)

In [14]:
for numb in numbers:
    if numb%5 == 0:
        print(numb)

65
55
85
10
70
70
30
20
30
25
70
40
30
25
70
85
100
45
5

In [17]:
list1 = [22, 27, 31, 19, 47, 89, 22, 79, 26, 27]
list2 = [71, 6, 47, 19, 94, 71, 65, 67, 19, 64]
list3 = [19, 14, 34, 86, 86, 31, 97, 6, 21, 21]
nested_list = [ list1,list2,list3]

Erstelle eine Liste (sieben) mit allen Zahlen aus der numbers Liste die grade durch 7 teilbar sind.

In [18]:
sieben = []
for list in nested_list:
    for zahl in list:
        if zahl%7 == 0:
            sieben.append(zahl)
print(sieben)

[14, 21, 21]


Wie oft kommt die Zahl 19 in nested_list vor?

In [21]:
n=0
for list in nested_list:
    for zahl in list: 
        if zahl == 19:
            n+=1
print(n)

4

### Erstelle drei Listen (kl33, zw33_66 und gr66). Sortiere Alle Zahlen aus dem nested_list in die passende Liste

In [ ]:
kl33 = []
zw33_66 = []
gr66 = []
for i in nested_list:
    for x in i:
        if x <= 33:
            kl33.append(x)
        elif x <= 66:
            zw33_66.append(x)
        elif x > 66 :
            gr66.append(x)
print(kl33)
print(zw33_66)
print(gr66)

Summe aller Zahlen in der liste Zahlen

In [10]:
zahlen = [9,2,3,5,8,5,-1,2,10]
summ = 0 
for i in zahlen:
    sum =+ i
print(i)

10

### Sieb des Eratosthenes

Das Sieb des Eratosthenes ist ein Algorithmus zur Bestimmung einer Liste oder Tabelle aller Primzahlen kleiner oder gleich einer vorgegebenen Zahl.

Aus http://de.wikipedia.org/wiki/Sieb_des_Eratosthenes:

Zunächst werden alle Zahlen 2, 3, 4, … bis zu einem frei wählbaren Maximalwert N aufgeschrieben. Die zunächst unmarkierten Zahlen sind potentielle Primzahlen. Die kleinste unmarkierte Zahl ist immer eine Primzahl. Nachdem eine Primzahl gefunden wurde, werden alle Vielfachen dieser Primzahl als zusammengesetzt markiert. Man bestimmt die nächstgrössere nicht markierte Zahl. Da sie kein Vielfaches von Zahlen kleiner als sie selbst ist (sonst wäre sie markiert worden), kann sie nur durch eins und sich selbst teilbar sein. Folglich muss es sich um eine Primzahl handeln. Diese wird dementsprechend als Primzahl ausgegeben. Man streicht wieder alle Vielfachen und führt das Verfahren fort, bis man am Ende der Liste angekommen ist. Im Verlauf des Verfahren werden alle Primzahlen ausgegeben.

In [9]:
zahlen = []
for x in range(2,201):
    zahlen.append(x)
for x in zahlen:
    for y in zahlen:
        if y != x and y%x == 0:
            zahlen.remove(y)
print(zahlen)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

Bubblesort

In [9]:
import random
ran_zahlen = []
for x in range(100):
    ran_zahlen.append(random.randint(1,100))
print(ran_zahlen)
print('------------------------------------------')
    
count = 0  
n = len(ran_zahlen)
for x in range(n):
    for y in range(n-1-x):
        count += 1
        #print(f'überprüfen {ran_zahlen[y]} größer als {ran_zahlen[y+1]}')
        if ran_zahlen[y] > ran_zahlen[y+1]:
            
            pla = ran_zahlen[y]
            ran_zahlen[y] = ran_zahlen[y+1]
            ran_zahlen[y+1] = pla
            #ran_zahlen[y] , ran_zahlen[y+1] = ran_zahlen[y+1] , ran_zahlen[y]
            
#print(ran_zahlen)
print(count)

[12, 65, 57, 56, 48, 22, 81, 65, 29, 7, 47, 15, 35, 14, 95, 68, 89, 22, 6, 53, 90, 68, 87, 89, 15, 15, 6, 71, 90, 11, 25, 51, 66, 74, 2, 41, 17, 71, 54, 15, 57, 39, 30, 5, 10, 40, 8, 98, 42, 21, 76, 74, 33, 31, 57, 71, 88, 100, 13, 37, 80, 40, 95, 56, 26, 47, 68, 56, 30, 72, 34, 43, 27, 29, 27, 9, 90, 62, 99, 46, 77, 89, 100, 12, 35, 17, 42, 88, 16, 91, 43, 89, 26, 10, 80, 37, 49, 61, 4, 9]
------------------------------------------
4950

In [ ]:
mitarbeiter_id = [456,'MID122',788,'nest',False,'MID123',785,'MID24',7, 555,'MDI6',True,'tewst']
for_mid = []
filter_mid = []
for mid in mitarbeiter_id:
    if type(mid)== int:
        mid = str(mid)
        mid = 'MID'+mid
    if type(mid) == bool or mid[0:3]!= 'MID':
        filter_mid.append(mid)
        continue
    anzahl_der_Nullen = 6-len(mid)
    mid = mid[0:3]+'0'*anzahl_der_Nullen+mid[3:]
    for_mid.append(mid)
print(for_mid)
print(filter_mid)

In [ ]:
import time
for zahl in range(10,-1,-1):
    time.sleep(1)
    if zahl == 0:
        print('Happy new Year')
    else:
        print(zahl)